*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
font-size: 100%;
}
#header1{
  background-color: #53284f;
  height: 80px;
}
.nav{
  max-width: 1650px;
  margin: 0px auto;
}
nav{
  display: flex;
}
#main-menu{
  display: flex;
  list-style: none;
  margin-left: 2.5rem;

}
.nav #logo img{
  /* logo */
  max-width: 200px;
  height: auto;
}
#logo{
  padding: 5px 0px;
  margin-top: 0.6rem;
}
#main-menu li {
  position: relative;
}
#main-menu li a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 25px 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  height: 3.5rem;
}

/* sub menu */
#main-menu ul.sub-menu{
  position: absolute;
  background-color: #ebeaea;
  padding: 15px 0px;
  list-style: none;
  width: 12rem;
  border-radius: 5px;
  opacity: 80%;
  left: 1.45rem;
  display: none;
  margin-top: 1rem;
  z-index: 2;

}
#main-menu ul.sub-menu a{
  padding: 10px 30px;
}
#main-menu li:hover ul.sub-menu{
  display: block;

}

/* hover gach duoi */
/* a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:relative;
  transition:0.5s color ease;
  text-decoration:none;
  
} */

a.linkheader:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}

a.linkheader:after{
  bottom: -0.01rem;
}
a.linkheader:after{
  height:5px;
  height:0.15rem;
  width:0;
  background:white;
}

 a.linkheader:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.linkheader:hover:after{
  width:60%;
}

/* css main content */

.main_title{
  border-bottom: 1px solid black;
  padding: 10px;
  width: 95%;
  margin: 20px auto;
}

.main_content{
  display: flex;
  flex-wrap: wrap;
}
.main_content_img-main{
  width: 400px;
  height: 400px;
  margin-left: 2.5%;
  border: 1px solid black;
}
.main_content_img-main img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main_content_box{
  width: 50%;
  height: 400px;
  margin-left: 35px;
  position: relative;
}
.content{
  margin-top: 10px;
}
.main_content_nameprd{
  margin-top: 0;
}
.main_content_imgdes{
  display: flex;
  flex-wrap: wrap;
  width: 1920px;
  height: 30%;
 position: absolute;
 bottom: 0px;
 z-index: 1;
 margin-top: 20px;
}
.img_des{
height: 120px;
width: 184.31px;
margin-right: 10px;
border: 1px solid black;
}
.img_des img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: all 1s ease;
}
.img_des:hover{
  opacity: 70%;
}
h2.main_content_nameprd{
  font-size: 30px;
}
.main_content_branch, .main_content_category, .main_content_type, .main_content_price, .main_content_quantity{
  font-size: 23px;
  position: relative;
}
.main_content_addcart .add-cart {
background-color: #53284f;
color: white;
border-radius: 3px;
padding: 10px;
width: 100%;
font-family: Open sans-serif;
font-size: 9px;
cursor: pointer;

}
.main_content_addcart:hover{
  opacity: 70%;
}
/* .main_content_branch{
  top: ;
}

.main_content_category{
  top: 20%;
}
.main_content_type{
  top: 30%;
}
.main_content_price{
  top: 40%;
} */
.main_content_addcart {
position: relative;
z-index: 2;
top: 1%;
width: 80px;
transition: all 0.5s ease;
}
@media only screen  and (max-width: 774px){
  .main_content_box{
      margin-top: 2%;
      margin-left: 2.5%;
  }
}
@media only screen  and (max-width: 564px){
  /* .main_content_addcart{
    top: -2%
  } */
  .main_content_imgdes{
      top: 70%;
  }
  .img_des{
      width: 140px;
      height: 100px;
  }
}
@media only screen  and (max-width: 1049px){
  .main_content_imgdes{
 top: 72%;
  }
  .img_des{
      width: 140px;
      height: 100px;
  }
  /* .main_content_branch, .main_content_category, .main_content_type, .main_content_price{
      font-size: 15px;
  } */
  h2.main_content_nameprd{
      font-size: 25px;
  }
}
.main_description{
  margin-left: 2.5%;
  margin-top: 10px;
  width: 95%;
  white-space: pre-line;
}

.feedback{
  display: flex;
  align-items: flex-start;
  margin-top:1%;
  margin-left: 2.5%;

}
.feedback textarea{
  width: 64%;
  height: 50px;
  margin-left: 0.5%;
}
.add_feedback{
  margin-left: 7.35%;
  margin-top: 5px;
  width: 100px;
  transition: all 0.5s ease;
}
.add_feedback input{
  background-color: #53284f;
color: white;
border-radius: 3px;
padding: 10px;
width: 100%;
font-family: Open sans-serif;
font-size: 9px;
cursor: pointer;
}
#feedback{
  padding: 20px 20px;
    border: 1px solid red;
    margin: 20px 20px;
    box-shadow: 5px 5px;
}
.sua{
  padding: 10px;
    border: 1px solid;
    margin: 20px
}