* hover gach duoi */

  a.linkheader:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:absolute;
  }

  a.linkheader:after{
    bottom: -0.01rem;
  }
a.linkheader:after{
    height:5px;
    height:0.15rem;
    width:0;
    background:white;
  }
  
   a.linkheader:after{
    left:50%;
    -webkit-transform:translateX(-50%);
            transform:translateX(-50%);
  }
  a.linkheader:hover:after{
    width:60%;
  }
  .card-title{
    display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 50px;
      height: 50px;
  }
  